* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: initial;
}

.card {
  min-height: 300px;
  width: 200px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.card img, .detail img {
  max-width: 100px;
  height: auto;
  overflow: hidden;
}